@charset "UTF-8";
@font-face {font-family: crush;src: url("./fonts/4pc.ttf");src: url("./fonts/4pc.ttf") format("truetype"),url("./fonts/4pc.eot#iefix") format("embedded-opentype"),url("./fonts/4pc.woff") format("woff"),url("./fonts/4pc.woff2") format("woff2");font-weight: normal;font-style: normal;}
@font-face {font-family: "fontello";src: url("./fonts/fontello.eot?43197043");src: url("./fonts/fontello.eot?43197043#iefix") format("embedded-opentype"),url("./fonts/fontello.woff2?43197043") format("woff2"),url("./fonts/fontello.woff?43197043") format("woff"),url("./fonts/fontello.ttf?43197043") format("truetype"),url("./fonts/fontello.svg?43197043#fontello") format("svg");font-weight: normal;font-style: normal;}
[class^="icon-"]:before, [class*=" icon-"]:before {font-family: "fontello";font-style: normal;font-weight: normal;speak: none;display: inline-block;text-decoration: inherit;width: 1em;margin-right: .2em;text-align: center;font-variant: normal;text-transform: none;line-height: 1em;margin-left: .2em;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-tags:before {content: "";}
.icon-eye:before {content: "";}
.icon-floppy:before {content: "";}
.icon-qrcode:before {content: "";}
.icon-download:before {content: "";}
.icon-forward-outline:before {content: "";}
.icon-monument:before {content: "";}
.icon-chat:before {content: "";}
.icon-bell-alt:before {content: "";}
.icon-gamepad:before {content: "";}
* {margin: 0;padding: 0;outline: none;word-break: break-all;}
h1, h2, h3 {font-size: 16px;font-weight: normal;}
h1 a {color: #5d5d5d;}
a {text-decoration: none;-webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;-o-transition: border .25s linear,color .25s linear,background-color .25s linear;transition: border .25s linear,color .25s linear,background-color .25s linear;color: #47628b;}
a:hover {color: #0081be;text-decoration: none;}
.wap {padding: 2px 5px;}
body {background: url("../images/bg-body.jpg");color: #333;font-size: 14px;font-family: crush;max-width: 1000px;margin: auto;padding: 7px;}
.mbody {margin: auto;margin-top: 0;margin-bottom: 0;}
.header, .footer {background-color: #5d9cec;background-image: -webkit-repeating-linear-gradient(330deg,rgba(255,255,255,.1),rgba(255,255,255,.1) 1px,rgba(0,0,0,0) 1px,rgba(0,0,0,0) 60px),-webkit-repeating-linear-gradient(30deg,rgba(255,255,255,.1),rgba(255,255,255,.1) 1px,rgba(0,0,0,0) 1px,rgba(0,0,0,0) 60px),-webkit-linear-gradient(30deg,rgba(0,0,0,.1) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,.1) 75%,rgba(0,0,0,.1)),-webkit-linear-gradient(330deg,rgba(0,0,0,.1) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,.1) 75%,rgba(0,0,0,.1));background-image: -o-repeating-linear-gradient(330deg,rgba(255,255,255,.1),rgba(255,255,255,.1) 1px,rgba(0,0,0,0) 1px,rgba(0,0,0,0) 60px),-o-repeating-linear-gradient(30deg,rgba(255,255,255,.1),rgba(255,255,255,.1) 1px,rgba(0,0,0,0) 1px,rgba(0,0,0,0) 60px),-o-linear-gradient(30deg,rgba(0,0,0,.1) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,.1) 75%,rgba(0,0,0,.1)),-o-linear-gradient(330deg,rgba(0,0,0,.1) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,.1) 75%,rgba(0,0,0,.1));background-image: repeating-linear-gradient(120deg,rgba(255,255,255,.1),rgba(255,255,255,.1) 1px,rgba(0,0,0,0) 1px,rgba(0,0,0,0) 60px),repeating-linear-gradient(60deg,rgba(255,255,255,.1),rgba(255,255,255,.1) 1px,rgba(0,0,0,0) 1px,rgba(0,0,0,0) 60px),linear-gradient(60deg,rgba(0,0,0,.1) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,.1) 75%,rgba(0,0,0,.1)),linear-gradient(120deg,rgba(0,0,0,.1) 25%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 75%,rgba(0,0,0,.1) 75%,rgba(0,0,0,.1));background-size: 140px 240px;overflow: hidden;}
.header {padding: 5px;}
.footer {text-align: center;padding: 10px 5px;color: #fff;}
.footer a {color: #fff;}
.logo a {color: white;font-size: 30px;font-weight: bold;margin-left: 5px;}
.header .logo {float: none;display: table;margin: 0 auto;}
.main {overflow: hidden;border-left: 1px solid #cacaca;border-right: 1px solid #cacaca;-webkit-box-shadow: 0 2px 5px #eee;box-shadow: 0 2px 5px #eee;}
.search {text-align: center;margin-top: 5px;}
.s {width: 50%;padding: 5px;margin-bottom: 2px;border: 1px solid #ddd;text-align: center;}
.button {background: #f3f4f5 url("img/search.png") no-repeat 50%;padding: 7px 20px 5px 20px;border: 0;color: #fff;cursor: pointer;text-indent: -999px;margin-left: -8px;border-left: 1px solid #dfdfdf;display: none;}
.list, .list1 {padding: 4px 15px;border-bottom: 1px solid #eee;}
.list:hover {border-left: 5px solid #0b80b9;border-bottom: 1px solid #0b80b9;background: rgba(238,238,238,.27);padding: 4px 10px;}
.list1 {background: #fff;}
.right_content {border-left: 0;background: url("../images/bg-body.jpg");overflow: hidden;}
.menu {font-size: 13px;font-weight: 700;padding: 5px 10px;background: rgba(244,244,244,.58);border-top: 1px solid #e5e5e5;border-bottom: 1px solid #e5e5e5;-webkit-box-shadow: 0 2px 5px #eee;box-shadow: 0 2px 5px #eee;}
.item {width: 100%;float: none;}
.item1 {margin: 5px;border-radius: 2px;-webkit-box-shadow: 0 1px 2px 1px rgba(50,50,50,.14);box-shadow: 0 1px 2px 1px rgba(50,50,50,.14);padding: 7px;overflow: hidden;background: rgba(255,255,255,.56);}
.item1:hover {-webkit-box-shadow: 0 1px 4px 2px rgba(50,50,50,.14);box-shadow: 0 1px 4px 2px rgba(50,50,50,.14);}
.item1 img {float: left;margin-top: 0;margin-right: 5px;border-radius: 20%;border: 1px solid #eee;}
.item1 p {margin: 0;}
.tieude {font-weight: bold;padding: 0;border-top: 0;border-bottom: 0;}
.tieude a {color: #4a89dc;}
.taive {background-color: #4a89dc;margin-top: 20px;padding: 5px 9px 5px 7px;display: inline-block;color: #fff;}
.taive a {color: #fff;}
.taive:hover {color: #fff;opacity: .8;}
.free {margin-top: 0;display: none;color: #4a89dc;font-weight: bold;margin-bottom: 5px;}
.mleft, .mright {float: none;margin-left: 5px;}
.star {width: 65px;height: 15px;display: inline-block;}
.star10 {background: url("img/5.png") no-repeat center left;}
.star9 {background: url("img/4.5.png") no-repeat center left;}
.star8 {background: url("img/4.png") no-repeat center left;}
.star7 {background: url("img/3.5.png") no-repeat center left;}
.fix {clear: both;}
.pagenavi {border-top: 1px solid #e4e1e1;padding: 1px;border-bottom: 1px solid #e4e1e1;text-align: center;}
.pagenavi a, .NowPage {color: #fff !important;padding: 4px 10px;text-decoration: none;border-radius: 3px;display: inline-block;margin-right: 2px;}
.NowPage {background: #4a89dc;}
.pagenavi a {background: rgba(81,155,191,.65);}
.pagenavi a:hover {background: #4a89dc;}
@media only screen and (max-width: 300px) {.s {width: auto;text-align: center;}}
@media only screen and (min-width: 750px) {.header .logo {float: left;}
	.s {width: 420px;margin-top: 5px;padding-left: 10px;text-align: left;}
	.search {text-align: right;}
	.right {float: right;width: 75%;}
	.left {width: 25%;float: left;}
	.right_content {border-left: 1px solid #cacaca;}
	.item {width: 33.333333%;float: left;}
	.item:last-child {display: none;}
	.item1 p {margin: 5px 0;}
	.item1 img {margin-top: 5px;}
	.free {margin-top: 30px;display: block;}
	.taive {float: none;margin: 30px 0px 20px 10px;}
	.tieude {border-top: 1px solid #eee;padding: 6px 0;white-space: nowrap;overflow: hidden;border-bottom: 1px solid #eee;}
	.blog .tieude {border-top: none;}
	.mright {float: right;margin-left: 0;}
	.item1 p {margin: 3px 0;min-height: 21px;}
	.blog .item1 p {margin: 0;}}
@media only screen and (min-width: 950px) {.item {width: 25%;float: left;}
	.item:last-child {display: block;}
	.item.blog {width: 50%;}}
form input[type="text"] {height: 17px;border: 0;color: #333;border-radius: 0px;-webkit-transition: all .3s cubic-bezier(1,.1,0,.9);-o-transition: all .3s cubic-bezier(1,.1,0,.9);transition: all .3s cubic-bezier(1,.1,0,.9);font-family: crush;font-size: 13px;background: url("../images/bg-body.jpg");}
.e404 {text-align: center;}
.e404 .list1 {padding-bottom: 20px;}
.e404 h3 {font-size: 100px;}
#backtotop {font-size: 30px !important;color: gray;position: fixed;bottom: 30px;right: 30px;}
#backtotop:hover {cursor: pointer;}
.mainmenu, .submenu {list-style: none;padding: 0;margin: 0;}
.mainmenu li:hover .submenu {display: block;max-height: 200px;border-top: 1px solid #0b80b9;}
.mainmenu>li:hover>a {display: block;}
.submenu {overflow: hidden;max-height: 0;-webkit-transition: all .5s ease-out;-o-transition: all .5s ease-out;transition: all .5s ease-out;}
.submenu li {padding: 3px 0 3px 15px;border-bottom: 1px solid #cacaca;}
.submenu li:hover {border: unset;border-bottom: 1px solid #0b80b9;}
.blockmenu {display: block !important;max-height: 200px;}
nav a {font-size: 14px !important;}
.text-center {text-align: center;}
.menu__viewmore {float: right;}